# Shaastra 2022

# Machine Learning - A project based approach 

## Prediction of attrition - if a particular employee leave the company or not 

### 14 January 2022


#### Session 2: Classification projects
#### Trainers:
Abhijit Rathod and Sai Shashank

### Install required modules here

####  To install catboost use pip install catboost

#### To install xgboost: If you are using anaconda use conda install -c anaconda py-xgboost OR pip install xgboost

#### To install pandas Profiling 
##### 1. pip install pandas-profiling
##### 2. pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip
##### 3. conda install -c conda-forge pandas-profiling

In [1]:
# Block reserved for any installations

## Import Python Modules, and Required Libraries 
##### Some modules and libraries are not used in this project but are given here for reader's reference (for use in other projects)

In [5]:
#Essential modules 
import pandas as pd
import numpy as np

#Visualisation libraries 
import seaborn as sns
import matplotlib.pyplot as plt

#Encoding 
from sklearn.preprocessing import LabelEncoder
#import category_encoders as ce 

#Normalization
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
from scipy import stats

#Model Building

from sklearn import model_selection
from sklearn.model_selection import train_test_split,StratifiedKFold

##Classifiers 

# Logistic Regression
from sklearn.linear_model import LogisticRegression

#Decision tree
from sklearn import tree
from sklearn.tree import DecisionTreeClassifier

#Random Forest
from sklearn.ensemble import RandomForestClassifier

#Boosting 
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from xgboost import XGBClassifier
#from catboost import CatBoostClassifier
from lightgbm import LGBMClassifier

#Bagging 
from sklearn.ensemble import BaggingClassifier
from sklearn.datasets import make_classification #for bootstrapping

#KFold 
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_validate

#Evaluation libraries 
from sklearn.metrics import recall_score
from sklearn.metrics import plot_confusion_matrix, confusion_matrix
from sklearn.metrics import classification_report, accuracy_score
from sklearn.metrics import roc_auc_score, roc_curve

# surpress warnings
import warnings
warnings.filterwarnings('ignore')

# Timer
import timeit

## Helper Functions 
#### These helper functions are not needed as such. They are given just to show off :P. Other build in functions are also available as an alternative.

In [6]:
def printColumnTypes(df):
    non_num_df = df.select_dtypes(include=['object'])
    num_df = df.select_dtypes(exclude=['object'])
    '''separates non-numeric and numeric columns'''
    print("Non-Numeric columns:")
    for col in non_num_df:
        print(f"{col}")
    print("")
    print("Numeric columns:")
    for col in num_df:
        print(f"{col}")

def missing_cols(df):
    '''prints out columns with its amount of missing values with its %'''
    total = 0
    for col in df.columns:
        missing_vals = df[col].isnull().sum()
        pct = df[col].isna().mean() * 100
        total += missing_vals
        if missing_vals != 0:
          print('{} => {} [{}%]'.format(col, df[col].isnull().sum(), round(pct, 2)))
    
    if total == 0:
        print("no missing values")

# PHASE 1: EXPLORING TRAINING DATA

## Upload Data

In [7]:
# df = pd.read_csv(r"F:\Shaastra Workshop\Data Sprint 56 HR Analytics\Attrition_training_data.csv")
df = pd.read_csv(r"https://raw.githubusercontent.com/gudiseva/IIT_Madras_Shaastra/main/Attrition_training_data.csv")
df

# df = df.sample(frac = 0.1)    ## Remove comment if you want to use this line 
                                ## If dataset is huge (more than 1,00,000 rows, take sample data for validation purpose. 
                                ## frac = 0.1 means 10 % data is used)

      Age     BusinessTravel  ...  YearsWithCurrManager Attrition
0      25      Travel_Rarely  ...                     2         0
1      44      Travel_Rarely  ...                     6         1
2      27      Travel_Rarely  ...                     7         1
3      40  Travel_Frequently  ...                    12         0
4      24      Travel_Rarely  ...                     2         0
...   ...                ...  ...                   ...       ...
1171   34         Non-Travel  ...                     2         0
1172   19      Travel_Rarely  ...                     0         0
1173   19      Travel_Rarely  ...                     0         0
1174   31  Travel_Frequently  ...                     2         0
1175   23      Travel_Rarely  ...                     4         0

[1176 rows x 35 columns]

## Data Exploration Before Data Cleaning and Preprocessing

##### Caution: It is not recommended to run this block if your laptop has low memory

In [9]:
## Magic code

## This gives entire profiling of data with visual representation in the form of an html page.

## Note: It is not recommended to run this block, if the laptop is occupied with some other tasks 
## as it requires a huge amount of memory. 

from pandas_profiling import ProfileReport
prof = ProfileReport(df)
prof

TypeError: ignored

In [10]:
prof

NameError: ignored

## Dimension of the dataset

In [11]:
print('Dimension of dataframe is', df.shape)

Dimension of dataframe is (1176, 35)

## Data types of each column

In [12]:
## method 1

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1176 entries, 0 to 1175
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1176 non-null   int64
 1   BusinessTravel            1176 non-null   object
 2   DailyRate                 1176 non-null   int64
 3   Department                1176 non-null   object
 4   DistanceFromHome          1176 non-null   int64
 5   Education                 1176 non-null   int64
 6   EducationField            1176 non-null   object
 7   EmployeeCount             1176 non-null   int64
 8   EmployeeNumber            1176 non-null   int64
 9   EnvironmentSatisfaction   1176 non-null   int64
 10  Gender                    1176 non-null   object
 11  HourlyRate                1176 non-null   int64
 12  JobInvolvement            1176 non-null   int64
 13  JobLevel                  1176 non-null   int64
 14  JobRole                   1176 non-null   object
 15  JobSatisfaction           1176 non-null   int64
 16  MaritalStatus             1176 non-null   object
 17  MonthlyIncome             1176 non-null   int64
 18  MonthlyRate               1176 non-null   int64
 19  NumCompaniesWorked        1176 non-null   int64
 20  Over18                    1176 non-null   object
 21  OverTime                  1176 non-null   object
 22  PercentSalaryHike         1176 non-null   int64
 23  PerformanceRating         1176 non-null   int64
 24  RelationshipSatisfaction  1176 non-null   int64
 25  StandardHours             1176 non-null   int64
 26  StockOptionLevel          1176 non-null   int64
 27  TotalWorkingYears         1176 non-null   int64
 28  TrainingTimesLastYear     1176 non-null   int64
 29  WorkLifeBalance           1176 non-null   int64
 30  YearsAtCompany            1176 non-null   int64
 31  YearsInCurrentRole        1176 non-null   int64
 32  YearsSinceLastPromotion   1176 non-null   int64
 33  YearsWithCurrManager      1176 non-null   int64
 34  Attrition                 1176 non-null   int64
dtypes: int64(27), object(8)
memory usage: 321.7+ KB

In [13]:
## Method 2

printColumnTypes(df)

Non-Numeric columns:
BusinessTravel
Department
EducationField
Gender
JobRole
MaritalStatus
Over18
OverTime

Numeric columns:
Age
DailyRate
DistanceFromHome
Education
EmployeeCount
EmployeeNumber
EnvironmentSatisfaction
HourlyRate
JobInvolvement
JobLevel
JobSatisfaction
MonthlyIncome
MonthlyRate
NumCompaniesWorked
PercentSalaryHike
PerformanceRating
RelationshipSatisfaction
StandardHours
StockOptionLevel
TotalWorkingYears
TrainingTimesLastYear
WorkLifeBalance
YearsAtCompany
YearsInCurrentRole
YearsSinceLastPromotion
YearsWithCurrManager
Attrition

##### Observation: From the information table above, we can see that
##### 1. There are 28 features in the dataset 
##### 2. Non-Numeric columns:
BusinessTravel, Department, EducationField, Gender, JobRole, MaritalStatus, Over18, OverTime

## Checking number of unique values in each column

In [14]:
df.nunique()

Age                           43
BusinessTravel                 3
DailyRate                    785
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1176
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1090
MonthlyRate                 1145
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             39
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                35
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          17
Attrition                      2
dtype: int64

## Data Cleaning and Preprocessing

### Check for missing data

In [15]:
## Method 1

df.isnull().sum()

Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
Attrition                   0
dtype: int64

In [16]:
## Method 2 

missing_cols(df)      # Gives percentage of missing values

no missing values

##### Observation: No missing values

## Dealing with Missing Values 

### Alternative 1: If percentage of missing values is more than 30%, it is better to drop that column (Not a thumb rule)

### Alternative 2: Replace missing values with 'zero'

### Alternative 3: Replace missing values with 'mean' of the column 

### Alternative 4: Replace some missing values with 'mean', some with zeroes

### Alternative 5: Use advanced imputers like KNN imputer (Not in the scope of the workshop)

##### Note: axis=1 (or axis='columns') is vertical axis. To take it further, if you use pandas method drop, to remove columns or rows, if you specify axis=1 you will be removing columns. If you specify axis=0 you will be removing rows from dataset.

In [ ]:
## Alternative 1:

df = df.drop(['DataFrame Column 1','DataFrame Column 2'], axis = 1)
df

In [ ]:
## Alternative 2:
#df = df.fillna(0)

df = df.fillna(0)

In [ ]:
## Alternative 4: 

#df['DataFrame Column'] = df['DataFrame Column'].fillna(0)
#df['DataFrame Column'] = df['DataFrame Column'].fillna(mean())

df[''].fillna(int(df['NumCompaniesWorked'].mean()), inplace=True)     # When inplace = True , the data is modified in place, 
                                                                                        # which means it will return nothing 
                                                                                        # and the dataframe is now updated.
df

df['NumCompaniesWorked'] = df['NumCompaniesWorked'].fillna(0)
df

In [ ]:
## Alternative 3:
#df = df.fillna(mean())

df = df.fillna(df.mean())
df

## Check if there are missing values

In [17]:
## Rechecking
missing_cols(df)

no missing values

## Encoding

### Get the list of categorical Columns

In [18]:
objList = df.select_dtypes(include = "object").columns
print (objList)

Index(['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole',
       'MaritalStatus', 'Over18', 'OverTime'],
      dtype='object')

In [19]:
## Method 1: Label Encoder
#Label Encoding for object to numeric conversion

le = LabelEncoder()

for feat in objList:
    df[feat] = le.fit_transform(df[feat].astype(str))

print (df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1176 entries, 0 to 1175
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1176 non-null   int64
 1   BusinessTravel            1176 non-null   int64
 2   DailyRate                 1176 non-null   int64
 3   Department                1176 non-null   int64
 4   DistanceFromHome          1176 non-null   int64
 5   Education                 1176 non-null   int64
 6   EducationField            1176 non-null   int64
 7   EmployeeCount             1176 non-null   int64
 8   EmployeeNumber            1176 non-null   int64
 9   EnvironmentSatisfaction   1176 non-null   int64
 10  Gender                    1176 non-null   int64
 11  HourlyRate                1176 non-null   int64
 12  JobInvolvement            1176 non-null   int64
 13  JobLevel                  1176 non-null   int64
 14  JobRole                   1176 non-null   int64
 15  JobSatisfaction           1176 non-null   int64
 16  MaritalStatus             1176 non-null   int64
 17  MonthlyIncome             1176 non-null   int64
 18  MonthlyRate               1176 non-null   int64
 19  NumCompaniesWorked        1176 non-null   int64
 20  Over18                    1176 non-null   int64
 21  OverTime                  1176 non-null   int64
 22  PercentSalaryHike         1176 non-null   int64
 23  PerformanceRating         1176 non-null   int64
 24  RelationshipSatisfaction  1176 non-null   int64
 25  StandardHours             1176 non-null   int64
 26  StockOptionLevel          1176 non-null   int64
 27  TotalWorkingYears         1176 non-null   int64
 28  TrainingTimesLastYear     1176 non-null   int64
 29  WorkLifeBalance           1176 non-null   int64
 30  YearsAtCompany            1176 non-null   int64
 31  YearsInCurrentRole        1176 non-null   int64
 32  YearsSinceLastPromotion   1176 non-null   int64
 33  YearsWithCurrManager      1176 non-null   int64
 34  Attrition                 1176 non-null   int64
dtypes: int64(35)
memory usage: 321.7 KB
None

In [20]:
## Method 2: Find and replace 

replacement = {"Column 1":     {"element 1": 1, "element 2": 2},
                "Column 2": {"element 1": 1, "element 2": 2, "element": 3, "element 4": 4 }}

df = df.replace(replacement)
df.head()      ## head() shows first 5 rows

   Age  BusinessTravel  ...  YearsWithCurrManager  Attrition
0   25               2  ...                     2          0
1   44               2  ...                     6          1
2   27               2  ...                     7          1
3   40               1  ...                    12          0
4   24               2  ...                     2          0

[5 rows x 35 columns]

##### To know more about categorical encoding visit https://pbpython.com/categorical-encoding.html

## Check if all the columns are numeric

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1176 entries, 0 to 1175
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1176 non-null   int64
 1   BusinessTravel            1176 non-null   int64
 2   DailyRate                 1176 non-null   int64
 3   Department                1176 non-null   int64
 4   DistanceFromHome          1176 non-null   int64
 5   Education                 1176 non-null   int64
 6   EducationField            1176 non-null   int64
 7   EmployeeCount             1176 non-null   int64
 8   EmployeeNumber            1176 non-null   int64
 9   EnvironmentSatisfaction   1176 non-null   int64
 10  Gender                    1176 non-null   int64
 11  HourlyRate                1176 non-null   int64
 12  JobInvolvement            1176 non-null   int64
 13  JobLevel                  1176 non-null   int64
 14  JobRole                   1176 non-null   int64
 15  JobSatisfaction           1176 non-null   int64
 16  MaritalStatus             1176 non-null   int64
 17  MonthlyIncome             1176 non-null   int64
 18  MonthlyRate               1176 non-null   int64
 19  NumCompaniesWorked        1176 non-null   int64
 20  Over18                    1176 non-null   int64
 21  OverTime                  1176 non-null   int64
 22  PercentSalaryHike         1176 non-null   int64
 23  PerformanceRating         1176 non-null   int64
 24  RelationshipSatisfaction  1176 non-null   int64
 25  StandardHours             1176 non-null   int64
 26  StockOptionLevel          1176 non-null   int64
 27  TotalWorkingYears         1176 non-null   int64
 28  TrainingTimesLastYear     1176 non-null   int64
 29  WorkLifeBalance           1176 non-null   int64
 30  YearsAtCompany            1176 non-null   int64
 31  YearsInCurrentRole        1176 non-null   int64
 32  YearsSinceLastPromotion   1176 non-null   int64
 33  YearsWithCurrManager      1176 non-null   int64
 34  Attrition                 1176 non-null   int64
dtypes: int64(35)
memory usage: 321.7 KB

## Outliers Detection and Removal (Optional)

In [ ]:
## Z-score method is used to detect and remove outliers 

z = np.abs(stats.zscore(df))
print(z)

In [ ]:
## It gives indices of the rows with z-score greater than 3 i.e. rows with outliers 

threshold = 3
print(np.where(z > 3))

In [ ]:
clean_df = df[(z < 3).all(axis=1)]
clean_df

In [ ]:
print('Dimension of dataframe after cleaning is', clean_df.shape)

## Exploratory Data Analysis After Cleaning and Preprocessing - Visualization

### Data Description

In [22]:
df.describe()  ## Gives count, mean, std, min, max, and quartile values for each variable

               Age  BusinessTravel  ...  YearsWithCurrManager    Attrition
count  1176.000000     1176.000000  ...           1176.000000  1176.000000
mean     36.964286        1.597789  ...              4.090986     0.161565
std       9.148817        0.673356  ...              3.533579     0.368208
min      18.000000        0.000000  ...              0.000000     0.000000
25%      30.000000        1.000000  ...              2.000000     0.000000
50%      36.000000        2.000000  ...              3.000000     0.000000
75%      43.000000        2.000000  ...              7.000000     0.000000
max      60.000000        2.000000  ...             17.000000     1.000000

[8 rows x 35 columns]

## Class Distribution

In [23]:
df['Attrition'].value_counts()

0    986
1    190
Name: Attrition, dtype: int64

In [24]:
sns.countplot(x = 'Attrition', data = df, palette="Set1");

###### Observation: Data is imbalanced as proportion of employees staying with the company is extremely higher than employees planning to leave the company.

### Histograms

In [25]:
fig, axs = plt.subplots(1, 2, figsize=(10, 5))

sns.histplot(df, x = 'BusinessTravel', discrete = True, ax = axs[0]);
sns.histplot(df, x = 'Gender', discrete = True, ax = axs[1]);

In [27]:
df['BusinessTravel'].value_counts()

2    828
1    223
0    125
Name: BusinessTravel, dtype: int64

##### Frequently: 
##### Rarely: 
##### : 

##### Observation:

In [28]:
df['Gender'].value_counts()

1    704
0    472
Name: Gender, dtype: int64

##### Male employees: 
##### Female employees: 

##### Observation: Proportion of male employees is significantly higher than female employees.

In [29]:
fig, axs = plt.subplots(1,2, figsize=(10, 5))

sns.histplot(x = 'Age', data = df, discrete = True, ax = axs[0]);
sns.histplot(x = 'YearsAtCompany', data = df, discrete = True, ax = axs[1]);

In [30]:
fig, axs = plt.subplots(1,2, figsize=(10, 5))

sns.histplot(x = 'Education', data = df, discrete = True, ax = axs[0]);
sns.histplot(x = 'EducationField', data = df, discrete = True, ax = axs[1]);

## Would you like to try?

In [31]:
fig, axs = plt.subplots(1,2, figsize=(10, 5))

sns.histplot(x = '_______', data = df, discrete = True, ax = axs[0]);
sns.histplot(x = '_______', data = df, discrete = True, ax = axs[1]);

ValueError: ignored

In [32]:
# Consider EnvironmentSatisfaction, JobSatisfaction, WorkLifeBalance,JobInvolvement

fig, axs = plt.subplots(2,2, figsize=(16, 10))

#sns.histplot(x = 'Education', data = df, discrete = True, ax = axs[0][0]);
#sns.histplot(x = 'EducationField', data = df, discrete = True, ax = axs[0][1]);
#sns.histplot(x = 'EducationField', data = df, discrete = True, ax = axs[1][0]);
#sns.histplot(x = 'EducationField', data = df, discrete = True, ax = axs[1][1]);

## Box Plots    
#### To identify outliers

In [33]:
sns.set_theme(style="whitegrid")
ax = sns.boxplot(x=df["Age"])

## Feature Selection 

### Feature Selection is the process where you automatically or manually select those features which contribute most to your prediction variable or output in which you are interested in.
### Having irrelevant features in your data can decrease the accuracy of the models and make your model learn based on irrelevant features.

### To know more visit: https://towardsdatascience.com/feature-selection-techniques-in-machine-learning-with-python-f24e7da3f36e

### Method 1: Correlation Matrix

In [34]:
plt.figure(figsize = (12,12))
corrmat = df.corr()
ax = sns.heatmap(corrmat, vmax=1, square=True);

In [35]:
numeric_feature_cols = [x for x in df.columns if x not in ['Attrition']]
#cat_feature_cols = []
target_col = ['Attrition']

In [36]:
import scipy.stats 

corrs = []
for col in numeric_feature_cols:
    corr = scipy.stats.spearmanr(df['Attrition'], df[col])
    corrs.append({
        'feature': col,
        'correlation': corr[0],
        'correlation_p_value': corr[1]
    })
    
pd.DataFrame(corrs).sort_values('correlation')

                     feature  correlation  correlation_p_value
17             MonthlyIncome    -0.207388         6.840333e-13
13                  JobLevel    -0.190423         4.593898e-11
30            YearsAtCompany    -0.185196         1.558087e-10
27         TotalWorkingYears    -0.185160         1.571115e-10
31        YearsInCurrentRole    -0.176783         1.033996e-09
33      YearsWithCurrManager    -0.173101         2.301248e-09
0                        Age    -0.160897         2.890453e-08
26          StockOptionLevel    -0.157777         5.358786e-08
9    EnvironmentSatisfaction    -0.114840         7.911927e-05
12            JobInvolvement    -0.105137         3.042876e-04
15           JobSatisfaction    -0.092837         1.436845e-03
2                  DailyRate    -0.068529         1.875670e-02
24  RelationshipSatisfaction    -0.057992         4.678286e-02
29           WorkLifeBalance    -0.055653         5.639619e-02
28     TrainingTimesLastYear    -0.052980         6.934144e-02
32   YearsSinceLastPromotion    -0.048264         9.806278e-02
22         PercentSalaryHike    -0.038902         1.824801e-01
23         PerformanceRating    -0.029702         3.088105e-01
11                HourlyRate    -0.026763         3.591634e-01
1             BusinessTravel    -0.021100         4.697477e-01
5                  Education    -0.013795         6.365146e-01
8             EmployeeNumber     0.004778         8.699968e-01
18               MonthlyRate     0.022285         4.451656e-01
6             EducationField     0.035454         2.243982e-01
10                    Gender     0.038926         1.822175e-01
19        NumCompaniesWorked     0.053061         6.891844e-02
3                 Department     0.058072         4.647965e-02
4           DistanceFromHome     0.061815         3.403968e-02
14                   JobRole     0.066978         2.161918e-02
16             MaritalStatus     0.140686         1.275757e-06
21                  OverTime     0.252677         1.380710e-18
7              EmployeeCount          NaN                  NaN
20                    Over18          NaN                  NaN
25             StandardHours          NaN                  NaN

##### Features are arranged in the ascending order of correlation with the Attrition. Monthly income has the highest correlation with 'age_group'. Higher the correlation (positive or negative) with target variable, more the importance of the feature. This method is not very reliable as there is a possibity of interaction between variables.

## Data preparation for Modelling

### X and Y division

#### Drop irrelevant columns here. We generally drop columns 
##### 1. With unique id; In this case, EmployeeID. 
##### 2. With more than 30% missing values 
##### 3. More than 70-80% unique values 
##### 4. Only 1 unique value. Example: StandardHours
##### 5. Very low correlation with target variable

In [37]:
X = df.drop(['Attrition'], axis=1)     

y = df['Attrition']

In [38]:
X

      Age  BusinessTravel  ...  YearsSinceLastPromotion  YearsWithCurrManager
0      25               2  ...                        1                     2
1      44               2  ...                        3                     6
2      27               2  ...                        7                     7
3      40               1  ...                        1                    12
4      24               2  ...                        1                     2
...   ...             ...  ...                      ...                   ...
1171   34               0  ...                        1                     2
1172   19               2  ...                        0                     0
1173   19               2  ...                        0                     0
1174   31               1  ...                        2                     2
1175   23               2  ...                        1                     4

[1176 rows x 34 columns]

In [39]:
y

0       0
1       1
2       1
3       0
4       0
       ..
1171    0
1172    0
1173    0
1174    0
1175    0
Name: Attrition, Length: 1176, dtype: int64

### Data Normalization (Optional)

In [40]:
column_maxes = X.max()
X_max = column_maxes.max()
column_mins = X.min()
X_min = column_mins.min()
normalized_X = (X - X_min) / (X_max - X_min)

normalized_X

           Age  BusinessTravel  ...  YearsSinceLastPromotion  YearsWithCurrManager
0     0.000926        0.000074  ...                 0.000037              0.000074
1     0.001630        0.000074  ...                 0.000111              0.000222
2     0.001000        0.000074  ...                 0.000259              0.000259
3     0.001482        0.000037  ...                 0.000037              0.000444
4     0.000889        0.000074  ...                 0.000037              0.000074
...        ...             ...  ...                      ...                   ...
1171  0.001259        0.000000  ...                 0.000037              0.000074
1172  0.000704        0.000074  ...                 0.000000              0.000000
1173  0.000704        0.000074  ...                 0.000000              0.000000
1174  0.001148        0.000037  ...                 0.000074              0.000074
1175  0.000852        0.000074  ...                 0.000037              0.000148

[1176 rows x 34 columns]

##### This data normalization is just a demonstration of how data is normalised.
##### Normalization doesn't have much impact on decision tree algorithms. Hence normalized data is not used in prediction models.

## Data Scaling

In [41]:
st_x= StandardScaler()    
X = st_x.fit_transform(X)

# PHASE 2: ALGORTIHMS ON TRAINING DATA

# Train and Validation Division

#### test_size = 0.25 means entire dataset is divided into 2 sets - Train data = 75% and Test/Validation data = 25%

In [42]:
X_train, X_val, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 1)
X_train.shape, X_test.shape

NameError: ignored

# Different Algortihms

### 1. Decision Tree Classifier

In [ ]:
# Build and fit the model 

clf_gini = DecisionTreeClassifier(criterion='gini', random_state=0)
clf_gini.fit(X_train, y_train)

In [ ]:
# Predict 

y_pred_gini = clf_gini.predict(X_val)

In [ ]:
# Plot confusion matrix 

cm = confusion_matrix(y_test, y_pred_gini)
plot_confusion_matrix(clf_gini, X_val, y_test)

In [ ]:
result = pd.crosstab(y_test, y_pred_gini, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred_gini)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_gini)
print("Accuracy of the model:",result2)

In [ ]:
# Cross Validation using KFold

scores = cross_validate(clf_gini, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

## 2. Random Forest

### 2a. Random Forest with default Parameters

In [43]:
## Random Forest Trees with default parameters (i.e. 100 Decision Trees)

rfc = RandomForestClassifier(random_state=0, class_weight='balanced')
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_val)

In [44]:
cm = confusion_matrix(y_test, y_pred)
plot_confusion_matrix(rfc, X_val, y_test)

In [45]:
result = pd.crosstab(y_test, y_pred, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred)
print("Accuracy of the model:",result2)

Confusion Matrix:

Predicted Result    0  1
Actual Result
0                 250  0
1                  38  6

Classification Report:

              precision    recall  f1-score   support

           0       0.87      1.00      0.93       250
           1       1.00      0.14      0.24        44

    accuracy                           0.87       294
   macro avg       0.93      0.57      0.58       294
weighted avg       0.89      0.87      0.83       294

Accuracy of the model: 0.8707482993197279

In [46]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred, average='weighted')

0.8261973042004906

In [47]:
# Cross Validation using KFold 

scores = cross_validate(rfc, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

K fold scores are: [0.88135593 0.81355932 0.84745763 0.84745763 0.87931034]
Average of k fold scores is: 0.8538281706604325

### 2b. Random Forest with Parameter Tuning

#### Grid Search Cross Validation to find best parameters

In [ ]:
## Might take a while

start = timeit.default_timer()

rfc_best = RandomForestClassifier()
parameters = {
    "n_estimators":[250, 500],
    "max_depth":[8, 16, None],
    "max_features": ['auto']
    }

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(rfc_best,parameters,cv=5, scoring='f1')      # scoring = 'roc_auc', scoring = 'accuracy'
cv.fit(X_train,y_train.values.ravel())

def display(results):
    print(f'Best parameters are: {results.best_params_}')
    print("\n")
    mean_score = results.cv_results_['mean_test_score']
    std_score = results.cv_results_['std_test_score']
    params = results.cv_results_['params']
    for mean,std,params in zip(mean_score,std_score,params):
        print(f'{round(mean,3)} + or -{round(std,3)} for the {params}')

stop = timeit.default_timer()

print('Time taken to perform Gridsearch: ', stop - start)        

display(cv)

##### GridSearch Algorithm gives best parameters using the combinations of the given set of parameters. It also cross validates the accuracy and avarage accuracy for each combination is dispalyed.

##### In this case best parameters are: 
##### n_estimators = ___
##### max_depth = ____
##### max_features = _____

In [ ]:
## Random Forest Trees with Best Parameters

rfc_best = RandomForestClassifier(n_estimators = 250, max_depth = 8, max_features = 'auto', random_state=0)

start = timeit.default_timer()

rfc_best.fit(X_train, y_train)

stop = timeit.default_timer()

print('Time taken to perform Random Forest Classifier: ', stop - start) 

y_pred_best = rfc_best.predict(X_val)

In [ ]:
## Confusion Matrix 

cm = confusion_matrix(y_test, y_pred_best)
plot_confusion_matrix(rfc_best, X_test, y_test)

In [ ]:
result = pd.crosstab(y_test, y_pred_best, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred_best)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_best)
print("Accuracy of the model:",result2)

In [ ]:
from sklearn.metrics import f1_score
f1_score(y_test, y_pred_best, average='weighted')

In [ ]:
# Cross Validation using KFold 

scores = cross_validate(rfc_best, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

## Method 2 of Feature Selection -  Feature Scores

In [ ]:
feature_scores = pd.Series(rfc_best.feature_importances_, index=X_train.columns).sort_values(ascending=False)
feature_scores

In [ ]:
## Plot Important Features 

feature_imp = pd.DataFrame(sorted(zip(rfc_best.feature_importances_,X.columns)), columns=['Value','Feature'])

plt.figure(figsize=(20, 10))
sns.barplot(x="Value", y="Feature", data = feature_imp.sort_values(by="Value", ascending=False)[:25], color = 'blue');

### 2c. Random Forest using SMOTE (For Imbalanced target variables) (Optional)

#### Sample code for SMOTE demonstration

In [ ]:
from imblearn.over_sampling import SMOTE
from imblearn.pipeline import Pipeline

smote = SMOTE(sampling_strategy='not majority')

In [ ]:
rfc_smote = RandomForestClassifier(random_state=0, max_depth = 16, n_estimators = 500)

In [ ]:
clf_smote = Pipeline(steps = [('sampling', smote),('classifier',rfc_smote)])

In [ ]:
clf_smote.fit(X_train, y_train)

In [ ]:
y_pred_smote = clf_smote.predict(X_val)

In [ ]:
cm = confusion_matrix(y_test, y_pred_smote)
plot_confusion_matrix(clf_smote, X_val, y_test)

In [ ]:
result = pd.crosstab(y_test, y_pred_smote, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred_smote)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_smote)
print("Accuracy of the model:",result2)

In [ ]:
# Cross Validation using KFold 

scores = cross_validate(clf_smote, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

## Boosting Algorithms

## 3. AdaBoostClassifier

In [ ]:
clf_adaboost = AdaBoostClassifier(random_state=0)
clf_adaboost.fit(X_train, y_train)

In [ ]:
y_pred_adaboost = clf_adaboost.predict(X_val)

In [ ]:
cm = confusion_matrix(y_test, y_pred_adaboost)
plot_confusion_matrix(clf_adaboost, X_val, y_test)

In [ ]:
result = pd.crosstab(y_test, y_pred_adaboost, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred_adaboost)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_adaboost)
print("Accuracy of the model:",result2)

In [ ]:
# Cross Validation using KFold 

scores = cross_validate(clf_adaboost, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

## 4. Gradient Boosting

In [ ]:
clf_grboost = GradientBoostingClassifier(random_state=0)
clf_grboost.fit(X_train, y_train)

In [ ]:
y_pred_grboost = clf_grboost.predict(X_val)

In [ ]:
cm = confusion_matrix(y_test, y_pred_grboost)
plot_confusion_matrix(clf_grboost, X_val, y_test)
print('Confusion matrix\n\n', cm)

In [ ]:
result = pd.crosstab(y_test, y_pred_grboost, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred_grboost)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_grboost)
print("Accuracy of the model:",result2)

In [ ]:
# Cross Validation using KFold 

scores = cross_validate(clf_grboost, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

### Gradient Boosting with Parameter Tuning

In [ ]:
clf_grboost_best = GradientBoostingClassifier(random_state=0)
parameters = {
    "n_estimators":[100, 250, 500],
    "max_depth":[8, 16, None],
    "max_features": [0.1, 0.25, 0.5, 1.0]
      }

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(clf_grboost_best, parameters,cv=5)
cv.fit(X_train,y_train.values.ravel())

def display(results):
    print(f'Best parameters are: {results.best_params_}')
    print("\n")
    mean_score = results.cv_results_['mean_test_score']
    std_score = results.cv_results_['std_test_score']
    params = results.cv_results_['params']
    for mean,std,params in zip(mean_score,std_score,params):
        print(f'{round(mean,3)} + or -{round(std,3)} for the {params}')
        
display(cv)

#### Gradient Boosting with best parameters

In [ ]:
clf_grboost_best = GradientBoostingClassifier(random_state=0)
clf_grboost_best.fit(X_train, y_train)

In [ ]:
y_pred_grboost_best = clf_grboost_best.predict(X_val)

In [ ]:
cm = confusion_matrix(y_test, y_pred_grboost_best)
plot_confusion_matrix(clf_grboost_best, X_val, y_test)

In [ ]:
result = pd.crosstab(y_test, y_pred_grboost_best, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred_grboost_best)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_grboost_best)
print("Accuracy of the model:",result2)

In [ ]:
# Cross Validation using KFold 

scores = cross_validate(clf_grboost_best, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

## 5. XGBoost

In [ ]:
clf_xgb = XGBClassifier()
clf_xgb.fit(X_train, y_train)

In [ ]:
y_pred_xgb = clf_xgb.predict(X_val)

In [ ]:
cm = confusion_matrix(y_test, y_pred_xgb)
plot_confusion_matrix(clf_xgb,X_val,y_test)
print('Confusion matrix\n\n', cm)

In [ ]:
result = pd.crosstab(y_test, y_pred_xgb, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred_xgb)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_xgb)
print("Accuracy of the model:",result2)

In [ ]:
scores = cross_validate(clf_xgb, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

### XGBoost with parameter tuning

In [ ]:
clf_xgboost_best = XGBClassifier(random_state=0)
parameters = {
    "n_estimators":[100, 250, 500],
    "max_depth":[4, 5, 6],
    "max_features": [0.1, 0.25, 0.5, 1.0],
    "learning_rate": [0.1, 0.3, 0.5],
    "gamma": [0, 0.5, 1, 5]
      }

from sklearn.model_selection import GridSearchCV
cv = GridSearchCV(clf_xgboost_best, parameters,cv=5, scoring='f1')
cv.fit(X_train,y_train.values.ravel())


def display(results):
    print(f'Best parameters are: {results.best_params_}')
    print("\n")
    mean_score = results.cv_results_['mean_test_score']
    std_score = results.cv_results_['std_test_score']
    params = results.cv_results_['params']
    for mean,std,params in zip(mean_score,std_score,params):
        print(f'{round(mean,3)} + or -{round(std,3)} for the {params}')
        
display(cv)

In [ ]:
clf_xgboost_best = XGBClassifier(random_state=0,
                                learning_rate = 0.3,
                                max_depth = 4,
                                max_features = 0.1,
                                n_estimators = 500)
clf_xgboost_best.fit(X_train, y_train)

In [ ]:
y_pred_xgboost_best = clf_xgboost_best.predict(X_val)

In [ ]:
cm = confusion_matrix(y_test, y_pred_xgboost_best)
plot_confusion_matrix(clf_xgboost_best, X_val, y_test)

In [ ]:
result = pd.crosstab(y_test, y_pred_xgboost_best, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred_xgboost_best)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_xgboost_best)
print("Accuracy of the model:",result2)

In [ ]:
# Cross Validation using KFold 

scores = cross_validate(clf_xgboost_best, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

## 6. LightGBM

In [ ]:
clf_lgbm = LGBMClassifier()
clf_lgbm.fit(X_train, y_train)

In [ ]:
y_pred_lgbm= clf_lgbm.predict(X_val)

In [ ]:
cm = confusion_matrix(y_test, y_pred_lgbm)
plot_confusion_matrix(clf_lgbm,X_val,y_test)
print('Confusion matrix\n\n', cm)

In [ ]:
result = pd.crosstab(y_test, y_pred_lgbm, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred_lgbm)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_lgbm)
print("Accuracy of the model:",result2)

In [ ]:
scores = cross_validate(clf_lgbm, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

## 7. Catboost

In [ ]:
clf_catboost = CatBoostClassifier(random_state=0, class_weights = [0.15 , 0.85])      
clf_catboost.fit(X_train, y_train)



## For imbalanced data use class_weights = [ a , b ] where a aand b are class_weights - genereally between 0 to 1. 
                                                     # Give more weight to the class with fewer rows

In [ ]:
y_pred_catboost = clf_catboost.predict(X_val)

In [ ]:
cm = confusion_matrix(y_test, y_pred_catboost)
plot_confusion_matrix(clf_catboost,X_val,y_test)
print('Confusion matrix\n\n', cm)

In [ ]:
result1 = classification_report(y_test, y_pred_catboost)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_catboost)
print("Accuracy of the model:",result2)

In [ ]:
scores = cross_validate(clf_catboost, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

## 8. Bagging

In [ ]:
clf_bagging = BaggingClassifier(random_state=0)
clf_bagging.fit(X_train, y_train)

In [ ]:
y_pred_bagging = clf_bagging.predict(X_val)

In [ ]:
cm = confusion_matrix(y_test, y_pred_bagging)
plot_confusion_matrix(clf_bagging,X_val,y_test)
print('Confusion matrix\n\n', cm)

In [ ]:
result = pd.crosstab(y_test, y_pred_bagging, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, y_pred_bagging)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, y_pred_bagging)
print("Accuracy of the model:",result2)

In [ ]:
# Cross Validation using KFold 

scores = cross_validate(clf_bagging, X_val, y_test,cv=KFold(n_splits=5))
k=scores['test_score']
print("K fold scores are:", k)
print("Average of k fold scores is:", np.mean(k, axis = None))

## 9. Logistic Regression

In [ ]:
start = timeit.default_timer()

lr = LogisticRegression(class_weight = 'balanced')
lr.fit(X_train, y_train)

stop = timeit.default_timer()

print('Time: ', stop - start) 

preds = lr.predict(X_val)

In [ ]:
pd.DataFrame(confusion_matrix(y_test, preds), columns=['Predicted 0', "Predicted 1"], index=['Actual 0', 'Actual 0'])

In [ ]:
result = pd.crosstab(y_test, preds, rownames=['Actual Result'], colnames=['Predicted Result'])
print("Confusion Matrix:\n")
print(result)
result1 = classification_report(y_test, preds)
print("\nClassification Report:\n",)
print (result1)
result2 = accuracy_score(y_test, preds)
print("Accuracy of the model:",result2)

In [ ]:
tn, fp, fn, tp = confusion_matrix(y_test, preds).ravel()
print(f'True Positives: {tp}')
print(f'False Positives: {fp}')
print(f'True Negatives: {tn}')
print(f'False Negatives: {fn}')

In [ ]:
probas = lr.predict_proba(X_val)[:, 1]

In [ ]:
probas

In [ ]:
def get_preds(threshold, probabilities):
    return [1 if prob > threshold else 0 for prob in probabilities]

In [ ]:
roc_values = []
for thresh in np.linspace(0, 1, 100):
    preds = get_preds(thresh, probas)
    tn, fp, fn, tp = confusion_matrix(y_test, preds).ravel()
    tpr = tp/(tp+fn)
    fpr = fp/(fp+tn)
    roc_values.append([tpr, fpr])
tpr_values, fpr_values = zip(*roc_values)

In [ ]:
fig, ax = plt.subplots(figsize=(10,7))
ax.plot(fpr_values, tpr_values)
ax.plot(np.linspace(0, 1, 100),
         np.linspace(0, 1, 100),
         label='baseline',
         linestyle='--')
plt.title('Receiver Operating Characteristic Curve', fontsize=18)
plt.ylabel('TPR', fontsize=16)
plt.xlabel('FPR', fontsize=16)
plt.legend(fontsize=12);

In [ ]:
roc_auc_score(y_test, lr.predict_proba(X_val)[:, 1])

# PHASE 3: ALGORITHMS ON TESTING DATA

In [ ]:
# df2 = pd.read_csv(r"F:\Shaastra Workshop\Data Sprint 56 HR Analytics\Attrition_testing_data.csv")
df2 = pd.read_csv(r"https://raw.githubusercontent.com/gudiseva/IIT_Madras_Shaastra/main/Attrition_testing_data.csv")
df2

## Preprocessing of Testing Data (Exactly same as Training Data)


### 1. Check column drops 
### 2. Check missing values
### 3. Check encoding 
### 4. Check scaling 
### 5. Check anything else

In [ ]:
objList = df2.select_dtypes(include = "object").columns
print (objList)

In [ ]:
## Method 1: Label Encoder
#Label Encoding for object to numeric conversion

le = LabelEncoder()

for feat in objList:
    df2[feat] = le.fit_transform(df2[feat].astype(str))

print (df2.info())

# Final Data for Testing model

In [ ]:
X_train = X
y_train = y
print (X_train.shape, y_train.shape)
print (df2.shape)                      ## X_test is replaced by df2


## Check if number of columns in X_train and df2 are equal

# Use your best algorithm 

### 1. Copy paste your algorithm in following block
### 2. Replace X_test to df2
### 3. Change the prediction file name to test_prediction 


### Note: Final line should look like test_prediction = model_name.predict(df2)

In [ ]:
## Random Forest Trees with default parameters (i.e. 100 Decision Trees)

rfc = RandomForestClassifier(random_state=0)
rfc.fit(X_train, y_train)


test_prediction = rfc.predict(df2)

# Preparing Prediction File for downloading

In [ ]:
from pandas import DataFrame
df3 = DataFrame(test_prediction, columns=['Attrition'])      ## Change column name as per the requirement of the submission file
df3

In [ ]:
test_prediction

In [ ]:
y_id = df2['EmployeeNumber'].to_numpy()      ## Converting into an array 
y_id

In [ ]:
Id = DataFrame(y_id, columns = ['Id'], index = None)       ## Converting into a dataframe
Id

In [ ]:
result = Id.join(df3)     ### Joining test unique id with predictions

In [ ]:
result

# Downloading submission file

In [ ]:
### Save the file 
### Remember to change the file name 

result.to_csv(r'F:\Shaastra Workshop\Data Sprint 56 HR Analytics\prediction_2.csv', index = False)   

## 'index = False' removes first column with auto generated index ids

## Compare your Results

### The best model with respect to accuracy: ___________ with accuracy of ___________ %

### Write the accuracy of the model:

### Model:                                              Accuracy  

### 1. XGBoost :                                    
### 2. Gradient Boosting :                   
### 3. Light GBM :                                  
### 4. CatBoost :                                 
### 5. Random Forest :                          
### 6. Bagging :                                      
### 7. Decision Trees :                           
### 8. Adaboost :   
### 9. Logistic Regression:

## End of code